Q1: Write a Python program to sum all the items in a list

In [1]:
a=[10,25,30,35,5]
b=sum(a)
print("The sum of all the items in a list is :",b)

The sum of all the items in a list is : 105

Q2: Write a Python program to get the largest number from a list.

In [2]:
a=[10,200,36,64,126]
print("The largest number from a list is :",max(a))

The largest number from a list is : 200

Q3: Write a Python program to get the smallest number from a list.

In [3]:
a=[10,200,36,64,126]
print("The smallest number from a list is :",min(a))

The smallest number from a list is : 10

Q4: Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [9]:
color_list=["Red","Green","White","Black"]
print("The first and last color from the list is :",color_list[:4:3])

The first and last color from the list is : ['Red', 'Black']

Q5: Write a Python program to add 'ing' at the end of a given string (length should be at least 3). 
If the given string is already ends with 'ing' then add 'ly' instead.

In [13]:
a=str(input("The string is :",))
if (len(a)>=3):
    if (a[-3:]=='ing'):
        a=a+'ly'
        print("The string is :",a)
    else:
        a=a+'ing'
        print("The string is:",a)

The string is :read
The string is: reading

Q6: The marks obtained by a student in 5 different Subjects are input through a keyboard. The 
Student gets a division as per the following rules.
1. Percentage above or equal to 60 – First Division
2. Percentage between 50 and 59 – Second Division
3. Percentage between 40 and 49 – Third Division
4. Percentage less than 40 – Fail
Write a python program to Display the result based on the above Criteria.

In [14]:
a=int(input("The marks of Mathematics is :",))
b=int(input("The marks of English is :",))
c=int(input("The marks of Chemistry is :",))
d=int(input("The marks of physics is :",))
e=int(input("The marks of Economics is :",))
x=((a+b+c+d+e)/500)*100
if x>=60:
    print("Congratulations you are pass with First division")
elif 50<= x <=59:
    print("Congratulations you are pass with Second division")
elif 40<= x <=49:
    print("Congratulations you are pass with Third division")
else:
    print("Sorry you are Fail")

The marks of Mathematics is :50
The marks of English is :60
The marks of Chemistry is :70
The marks of physics is :80
The marks of Economics is :75
Congratulations you are pass with First division

Q7: write a Python program to find the largest number among the three input numbers

In [15]:
a=int(input("Your first value is :",))
b=int(input("Your second value is :",))
c=int(input("Your third value is :",))
if a>b and a>c:
    print("The largest number is",a)
elif b>a and b>c:
        print("The largest number is",b)
else:
    print("The largest number is",c)

Your first value is :45
Your second value is :23
Your third value is :10
The largest number is 45

Q8: Write a Python program to check if the input year is a leap year or not.

In [16]:
a=int(input("The input year is :",))
if a%4==0 and a%100!=0:
    print("This is a leap year")
elif a%100==0 and a%400==0:
        print("This is a leap year")
    
else:
    print("This is not a leap year")

The input year is :2020
This is a leap year

Q9: write a Program to check if a string is palindrome or not

In [21]:
s=str(input("Your string is :"))
a = s.lower()
if a[::-1]==a:
    print("The given string is palindrome")
else:
    print("The given string is not a palindrome")

Your string is :Madam
The given string is palindrome

Q10: write a Program to sort alphabetically the words form a string provided by the user. [You 
can use split() method to split string into a list of words. ]

In [28]:
a=str(input("The given string is :"))
b=a.split()
c=b.sort()
c=b
print("The solution is :",c)

The given string is :my name is albert
The solution is : ['albert', 'is', 'my', 'name']

Q11: Given a nested list. Write a python program to extend it with adding sub list ["h", "i", "j"] 
in a such a way that it will look like the following list
Given List:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
Expected output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [29]:
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
a=["h","i","j"]
list1[2][1][2].extend(a)
print("The updated list is ",list1)

The updated list is  ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Q12: Write a python program for Given a Python list, to find value 20 in the list, and if it is 
present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
Expected output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [30]:
list1=[5,10,15,20,25,50,20]
a=list1.index(20)
list1=list1[:a]+[200]+list1[a+1:]
print("The updated list is",list1)

The updated list is [5, 10, 15, 200, 25, 50, 20]