1.  Write a Python program to read first n lines of a file.

In [ ]:
a=input("Enter the directory:")
n=int(input("Enter the number of lines:"))
b=open(a,mode="r")
c=b.readlines()
for i in range(0,n):
    print(c[i],end=" ")
b.close()

2. Write a Python program to append text to a file and display the text.

In [ ]:
a=input("Enter the directory:")
b=open(a,mode="a+")
b.write("\nWelcome to CDAC NOIDA")
b.seek(0)
print(b.read())
b.close()

3. Write a Python program to read a file line by line and store it into a list.

In [ ]:
a=input("Enter the directory:")
b=open(a,mode="r")
c=b.readlines()
print(c)
b.close()

4.  Write a program to print each line of a file in reverse order.

In [ ]:
a=input("Enter the directory:")
b=open(a,mode="r")
c=b.readlines()
for i in range (0,len(c)):
    d=c[i][::-1]
    print(d)
b.close()

5. Write a Python program to write a list content to a file.

In [ ]:
a=input("Enter the directory:")
L=["sunday","monday","tuesday"]
b=open(a,mode="w")
for i in L:
    b.write(i+"\n")
b.close()

6. Write a program to compute the number of characters, words and lines in a file.

In [ ]:
a=input("Enter the directory:")
b=open(a,mode="r")
numwords = 0
numchars = 0
numlines = 0

   
for line in b:
    wordlist = line.split()
    numlines += 1
    numwords += len(wordlist)
    numchars += len(line)
print("Lines:", numlines)
print("Words:", numwords)
print("Characters:", numchars)
b.close()

7: Subtract a week ( 7 days)  from a given date in Python

In [1]:
from datetime import datetime,timedelta
given_date = datetime(2020,3,22)
print("The given date is :",given_date)
days = timedelta(7)
new_date = given_date - days
print("The updated new date is :", new_date)

The given date is : 2020-03-22 00:00:00
The updated new date is : 2020-03-15 00:00:00

8: Add week ( 7 days) and 12 hours to a given date
Given:
 2020-03-22 10:00:00
given_date = datetime(2020, 3, 22, 10, 0, 0)
Expected output:
2020-03-29 22:00:00

In [2]:
from datetime import datetime,timedelta
given_date = datetime(2020,3,22,10,0,0)
print("The given date is: ",given_date)
days = timedelta(7,hours=12)
new_date = given_date + days
print("The new updated date is :",new_date)

The given date is:  2020-03-22 10:00:00
The new updated date is : 2020-03-29 22:00:00

9: Print ten dates, each two a week apart, in the form YYYY-MM-DD.

In [4]:
from datetime import datetime,timedelta
a=datetime(2020,3,22)
print("The current date is :",a)
for i in range(9):
    a+=timedelta(weeks=1)
    print("After a week the date is :",a)

The current date is : 2020-03-22 00:00:00
After a week the date is : 2020-03-29 00:00:00
After a week the date is : 2020-04-05 00:00:00
After a week the date is : 2020-04-12 00:00:00
After a week the date is : 2020-04-19 00:00:00
After a week the date is : 2020-04-26 00:00:00
After a week the date is : 2020-05-03 00:00:00
After a week the date is : 2020-05-10 00:00:00
After a week the date is : 2020-05-17 00:00:00
After a week the date is : 2020-05-24 00:00:00

10: Calculate number of days between two given dates
Given:
 2020-02-25
date_1 = datetime(2020, 2, 25)
 2020-09-17
date_2 = datetime(2020, 9, 17)
Expected output:
205 days

In [5]:
from datetime import datetime,timedelta
given_date_1 = datetime(2020,2,25)
print("The given date1 is :",given_date_1)
given_date_2 = datetime(2020,9,17)
print("The given date2 is :",given_date_2)
a=given_date_2 - given_date_1
print("The number of days between two given dates is :",a)

The given date1 is : 2020-02-25 00:00:00
The given date2 is : 2020-09-17 00:00:00
The number of days between two given dates is : 205 days, 0:00:00

11:  Write a Python script to display the 
a) Current date and time
b) Current year in full
c) Month of year full name
d) Weekday of the week
e) Day of year
f) Day of the month
g) Day of week in full name

In [6]:
from datetime import datetime,timedelta
a=datetime.today()
b=datetime(2022,1,1)
print("Current date and time is :",a)
print("Current year in full is :",(a.year))
print("Month of year full name is :",a.strftime("%B"))
print("Weekday of the week is :",a.strftime("%w"))
print("The day of year is :",a-b)
print("The day of month is :",a.strftime("%d"))
print("The day of week in full name is :",a.strftime("%A"))

Current date and time is : 2023-03-27 10:29:15.471190
Current year in full is : 2023
Month of year full name is : March
Weekday of the week is : 1
The day of year is : 450 days, 10:29:15.471190
The day of month is : 27
The day of week in full name is : Monday

12: Python program to convert a string to datetime:
          'Jul 1 2016  2:43AM' into 2016-07-01 02:43:00

In [7]:
from datetime import datetime
a='Jul 1 2016  2:43AM'
print("The given date time is :",a)
print("The updated date time is :",datetime.strptime('Jul 1 2016  2:43AM',"%b %d %Y %I:%M%p"))

The given date time is : Jul 1 2016  2:43AM
The updated date time is : 2016-07-01 02:43:00

13: Python program to convert Year/Month/Day to Day of Year.

In [8]:
from datetime import datetime,timedelta
a=datetime.today()
b=(a-datetime(a.year,1,1))
print("The day of year is :",b)

The day of year is : 85 days, 10:31:38.091509