Q1: Write a python program to add all the odd numbers from 0 to 20.

In [1]:
a=[i for i in range(20) if i%2!=0]
print("The sum of all odd numbers in range 0 to 20 is:",sum(a))

The sum of all odd numbers in range 0 to 20 is: 100

Q 2: Write a python program to find the sum of all integers greater than 100 and less than 200.

In [2]:
a=[i for i in range (101,200)]
print("The sum of all integers greater than 100 and less than 200 is : ",sum(a))

The sum of all integers greater than 100 and less than 200 is :  14850

Q3: Write a program to display the sum of square of the first ten even natural numbers
// (2*2+ 4*4 + 6*6 + 8*8 + 10*10 + 12*12 + 14 * 14 + 16 * 16 + 18*18 + 20*20)

In [1]:
a=[int(i**2) for i in range(21) if i%2==0]
print("The sum of square of the first ten even natural numbers is:",sum(a))

The sum of square of the first ten even natural numbers is: 1540

Q4: Write a python program to display ascii characters from 65 to 90

In [2]:
print("The ascii characters of given ranges is:")
for i in range (65,91):
    print(i,"=",chr(i))

The ascii characters of given ranges is:
65 = A
66 = B
67 = C
68 = D
69 = E
70 = F
71 = G
72 = H
73 = I
74 = J
75 = K
76 = L
77 = M
78 = N
79 = O
80 = P
81 = Q
82 = R
83 = S
84 = T
85 = U
86 = V
87 = W
88 = X
89 = Y
90 = Z

Q5: Display ascii characters from 48 to 57.

In [3]:
print("The ascii character of given values are :")
for i in range (48,58):
    print(i," = ", chr(i))

The ascii character of given values are :
48  =  0
49  =  1
50  =  2
51  =  3
52  =  4
53  =  5
54  =  6
55  =  7
56  =  8
57  =  9

Q6: Display the following output with the help of Ascii character.

In [4]:
print("The ascii character of given values are :")
for i in range(97,123):
    print(i," = ", chr(i))

The ascii character of given values are :
97  =  a
98  =  b
99  =  c
100  =  d
101  =  e
102  =  f
103  =  g
104  =  h
105  =  i
106  =  j
107  =  k
108  =  l
109  =  m
110  =  n
111  =  o
112  =  p
113  =  q
114  =  r
115  =  s
116  =  t
117  =  u
118  =  v
119  =  w
120  =  x
121  =  y
122  =  z



Q7: Write a python program for given a Python list you should be able to display Python list in 
the following order
L1 = [100, 200, 300, 400, 500]
Expected output:
[500, 400, 300, 200, 100]

In [5]:
l1 = [100, 200, 300, 400, 500]
print("The given list is:",l1)
l1.reverse()
print("The expected output is:",l1)

The given list is: [100, 200, 300, 400, 500]
The expected output is: [500, 400, 300, 200, 100]

Q8: Write a Python program to concatenate following dictionaries to create a new one.
Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print("The expected output is:",dic1)

The expected output is: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q9: Write a Python program to add key to a dictionary.
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [7]:
dic={0: 10, 1: 20}
dic[2]=30
print("The updated dictionary is:",dic)

The updated dictionary is: {0: 10, 1: 20, 2: 30}

Q10: Write a Python program to print out a set containing all the colors from a list which are not 
present in another list
Test Data : 
color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])

In [8]:
color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])
a=color_list_1 ^ color_list_2
print("The expected output is:",a)

The expected output is: {'Green', 'White', 'Black'}

Q11: Given a Python list. Write a python program to turn every item of a list into its 
square 
List1 = [1, 2, 3, 4, 5, 6, 7]
Expected output:
[1, 4, 9, 16, 25, 36, 49]

In [9]:
list1 = [1, 2, 3, 4, 5, 6, 7]
a=[int(i**2)for i in list1]
print("The expected output is:",a)

The expected output is: [1, 4, 9, 16, 25, 36, 49]



Q12: Program to count the number of each vowel in a string

In [11]:
a=str(input("Enter the string :",))
b='aeiouAEIOU'
count={}.fromkeys(b,0) 
for i in b:
    for j in a:
        if i==j:
            count[i]+=1
print("The expected output is",count)

Enter the string :Artificial Intelligence
The expected output is {'a': 1, 'e': 3, 'i': 4, 'o': 0, 'u': 0, 'A': 1, 'E': 0, 'I': 1, 'O': 0, 'U': 0}


Q13:Write a python program to Access the value of key ‘history’ from the following dictionarysampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}

In [12]:
sampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

Q 14: write a Program to Remove Punctuations from a String provided by the user. [Hint: use 
punctuation attribute of string module to get all punctuations (i.e. !"#$%&\'()*+,-
./:;<=>?@[\\]^_`{|}~ ) ]

In [13]:
import string
a=str(input("Enter your string:"))
b=string.punctuation
for i in a:
    if i in b:
        a=a.replace(i,"")
print(a)

Enter your string:Artificial!37&#$Inte?lligEn][ce
Artificial37IntelligEnce

Q15: Write a python program to print the Following:


```
1
2 1
3 2 1
```

In [14]:
for i in range(1,4):
  for j in range(i,0,-1):
    print(j, end=" ")
  print()

1
2 1
3 2 1

Q16: WAP to print the following asterisk pattern:


```
*
* *
* * *
* * * *
* * * * *
* * * * * *
```

In [18]:
n = int(input("row:"))
for i in range(1,n+1):
    print('* '* i)

row:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

Q17: WAP to create a function traiangle to print the following asterisk triangle pattern:


```
*
* *
* * *
* * * *
* * *
* *
*
```

In [19]:
a=[]
for i in range(1,5):
  print('* '* i)
  a.append('* '* i)
del a[-1]
for j in a[::-1]:
  print(j)

*
* *
* * *
* * * *
* * *
* *
*

Q18: Write a python program to print following multiplication table.

In [20]:
for i in range(1,11):
    print("\t",i,end=" ")
print("\n   +---------------------------------------------------------------------------------")
for j in range(1,11):
    if j<10:
        print(" ",end="")
    print(j,"| ",end="\t")
    for i in range(1,11):
            print(i*j,end="\t")
    print()

	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10
   +---------------------------------------------------------------------------------
 1 | 	1	2	3	4	5	6	7	8	9	10
 2 | 	2	4	6	8	10	12	14	16	18	20
 3 | 	3	6	9	12	15	18	21	24	27	30
 4 | 	4	8	12	16	20	24	28	32	36	40
 5 | 	5	10	15	20	25	30	35	40	45	50
 6 | 	6	12	18	24	30	36	42	48	54	60
 7 | 	7	14	21	28	35	42	49	56	63	70
 8 | 	8	16	24	32	40	48	56	64	72	80
 9 | 	9	18	27	36	45	54	63	72	81	90
10 | 	10	20	30	40	50	60	70	80	90	100