1. Create a string containing both a single quote a double quote

In [1]:
a='"Is it right?" he asked.'
print(a)

"Is it right?" he asked.

2.Create a triple quoted string that contains single and double quotes.

In [2]:
a=""""Isn't it right?" he asked."""
print(a)

"Isn't it right?" he asked.


3.Create a character, then obtain its integer representation.

In [3]:
a=chr(77)
print(a)
b=ord(a)
print(b)

M
77

4.Create a single string containing 5 copies of the string 'abc'.

In [4]:
x="abc"
y=x*5
print("The solution of given problem is :","\n",y)

The solution of given problem is :
 abcabcabcabcabc

5.Use the multiplication operator to create a "line" of 50 dashes.

In [5]:
a='-'*50
print("The solution of given problem is :","\n",a)

The solution of given problem is :
 --------------------------------------------------

6.Convert a string to all upper case.

In [7]:
a="cdac noida"
b=a.upper()
print("The uppercase is :",b)

The uppercase is : CDAC NOIDA


Q7 : Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.

In [9]:
a="CDAC NOIDA"
b=(a[:2]+a[-2:])
print("The solution is :",b)

The solution is : CDDA

Q8: a Python program to get a string from a given string where all occurrences of its first char have been changed to '#', except the first char itself.
Sample String : 'restart',
Expected Result : 'resta#t'

In [11]:
a="restart"
print(a[:5]+'#'+a[-1:])

resta#t

Q9: Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
Sample String : 'abc', 'xyz'. 
Expected Result : 'xyc abz'

In [12]:
a="abc"
b="xyz"
print("The solution is :","\n",(a.replace(a[:2],b[:2]),b.replace(b[:2],a[:2])))

The solution is :
 ('xyc', 'abz')